[submodule "researchkit"]
	path = researchkit
	url = https://github.com/researchkit/researchkit.git
[submodule "Swift-SMART"]
	path = Swift-SMART
	url = https://github.com/smart-on-fhir/Swift-SMART.git
